/* Styling for the game page */
.game-page {
    text-align: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background-color: #E9DCD3; /* Background color */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    margin: -40px 0 0 0; /* Move the page 20px higher */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.instructions {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
    margin-top: -20px
}

.sentence-box {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    width: 80%;
    max-width: 600px;
}

.sentence-text {
    font-size: 1.5em;
    color: #333;
    white-space: pre-line;
}

.recording-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; /* Reserve space for the audio player and status */
    margin-bottom: 20px; /* Add spacing below the container */
}

.audio-player {
    display: block;
    margin: 10px auto; /* Center the audio player */
    width: 300px; /* Adjust the width */
}

.recording-status {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px; /* Add spacing above the status */
}

.record-button {
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    border: none; /* Remove the outline */
    outline: none; /* Remove focus outline */
    background-color: transparent; /* Make the button background transparent */
}

.record-button:hover {
    transform: scale(1.25);
}

.record-button-img {
    width: 100px;
    height: 100px;}

.submit-button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
